{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/login.css' %}">
</head>
<body>
    <main class="page">
        <section id="login-area">
            <form id="form-login" method="post">
                <h2>Bem Vindo</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="botoes">
                <button type="submit" class="btn-login">Login</button>
                <button class="btn-register"><a href="{% url 'register' %}">Cadastrar</a></button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>
